/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   

}

.nav {
    display: flex; 
    justify-content: center; 
    margin: 0px;
    padding: 0px;
    color: #e0e0e0;
    font-size: larger;
    background-color: #0c0c0c;

}

.logo{
    font-size:2rem;
    margin-right: 1rem;
    color: #e0e0e0;
}

.logo:hover{
    cursor: pointer;
    color: #dcca87;
}

 .header:hover {
    cursor: pointer;
    color: #dcca87;
}



.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#0c0c0c;
    column-gap: 30px;
}



.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #ffff;

}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}


.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #f0cd4d;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #f2bd00;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}




@media only screen and (max-width: 430px) {
    .form{
      
        max-width: 330px;
    }
}

@media only screen and (max-width: 320px) {
    .form{
        max-width: 290px;
    }
}